# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="file:./dev.db"

DATABASE_URL="postgres://sy4rif:Abcd$123@localhost:5432/sy4rif"

# Run these commands to generate key
# ssh-keygen -t rsa -b 4096 -m PEM -f jwtRS256.key
# Don't add passphrase
# openssl rsa -in jwtRS256.key -pubout -outform PEM -out jwtRS256.key.pub
JWT_ACCESS_SECRET="-----RSA PRIVATE KEY-----"
